# Server
PROTOCOL = "http"
HOST = "localhost"
PORT = 9473
API_ROOT_URL = "/api/v1"
SERVER_BASE_URL = "@format {this.PROTOCOL}://{this.HOST}:{this.PORT}{this.API_ROOT_URL}"
TRACK_STREAM_ENDPOINT = "/queue/{track_id}/stream"
TRACK_STREAM_URL = "@format {this.SERVER_BASE_URL}{this.TRACK_STREAM_ENDPOINT}"
DEBUG = false

# Deezer
QUALITY = "MP3_128"
