name: Update documentation

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up python/uv (with caching)
        uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      # FIXME
      # - name: Update OpenAPI schema
      #   run: |
      #     echo -e "fakearl\n" | uv run onzr init 
      #     timeout 10s uv run onzr serve &
      #     uv run onzr openapi > docs/openapi.json
      - name: Update documentation
        run: uv run mkdocs gh-deploy --force
